@model UserVM
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="https://runex.az/profile" method="post" autocomplete="off">
                <input type="hidden" name="_token" value="YNrO38AZZ1jXntGccLuD9q0cPLxBxyLeVftZqqSA">	<input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-1">
                        <div class="form-group">
                            <input type="text" tabindex="1" class="form-control " value="@Model.Fullname" disabled="">
                        </div>
                    </div>
                  
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-3">
                        <div class="form-group">
                            <input type="text" required="" tabindex="3" class="form-control datepicker " name="birthday" value="@Model.BirthdayTime">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-4">
                        <div class="form-group">
                            <input type="email" required="" class="form-control " disabled="" value="@Model.Email">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+994</span>
                                </div>
                                <input type="number" required="" tabindex="4" class="form-control " name="mobile" value="@Model.PhoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-6">
                        <div class="form-group">
                            <select required="" class="form-control" tabindex="5" name="gender">
                                <option selected="" value="male">Kişi</option>
                                <option value="female">Qadın</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-7">

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <select required="" tabindex="6" class="form-control" name="passport_serie">
                                        <option value="AZE">AZE</option>
                                        <option selected="" value="AA">AA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="number" required="" tabindex="7" pattern=".{8}" class="form-control " name="passport_number" value="@Model.IdentityNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-8">
                        <div class="form-group d-flex">

                            <button type="button" class="hint d-inline-block" data-trigger="hover|click" data-container="body" data-toggle="popover" data-placement="auto" data-html="true" data-content="<img src=&quot;https://runex.az/images/fin_code.jpg&quot; alt=&quot;&quot;>" data-original-title="" title=""><i class="far fa-question-circle" aria-hidden="true"></i></button>
                            <input type="text" required="" tabindex="8" pattern=".{7}" class="form-control  d-inline-block " value="@Model.FIN" disabled="">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-10">
                        <div class="form-group">
                            <input type="password" tabindex="10" class="form-control " name="password" placeholder="Yeni şifrə">
                        </div>
                    </div>
                    <div class="col-lg-8 fi-9">
                        <div class="form-group">
                            <input tabindex="9" required="" class="form-control " name="address" value="@Model.Location">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-11">
                        <div class="form-group">
                            <input type="password" tabindex="11" class="form-control " name="password_confirmation" placeholder="Yeni şifrə təkrar">
                            <span class="note">Şifrəni dəyişmək istəmirsinizsə şifrə xanalarını boş buraxın</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-4 fi-11">
                        <div class="form-group">
                            <input type="text" class="form-control " name="filial" value="İçərişəhər" disabled="">
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-8 d-flex align-items-end justify-content-end fi-12">
                        <div class="form-group">
                            <button type="submit" tabindex="12" class="btn btn-orange d-block br-3 pt-7 pb-7 pl-4 pr-4 br-5 fs-18 btn-shadow">Yadda saxla</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
