@model List<Cargos>
@{
    ViewData["Title"] = "Package";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <title>Document</title>
</head>
<body>
    <section id="User">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex about justify-content-between align-item-center ">
                        <h1 class="">Bağlamalar</h1>
                        <p class="mt-5 mr-5"><a href="#">Ana Sehife</a>/Bağlamalar</p>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row mt-4 BalanceAbout">
                    <div class="col-md-6">
                        <div class="d-flex ml-5">
                            <div>
                                <p class="text-muted">Balans</p>
                                <h3>0 TL</h3>
                                <button type="button" class="btn btn-primary">Balans Artir</button>
                            </div>
                            <div class="mt-4 balance">
                                <p></p>
                                <h3>0 AZN</h3>
                                <button type="button" class="btn btn-primary">Balans Artir</button>
                            </div>
                        </div>
                    </div>


                
                    </div>
                </div>
                <div class="row mt-3 UserNavbar">
                    <div class="col-md-12">
                        <ul class="d-flex Userbar justify-content-evenly mt-2">
                            <li><a asp-action="Index">Şəxsi məlumatlar</a></li>
                           
                            <li><a asp-action="Orders">Sifarişlər</a></li>
                            <li><a asp-action="Package">Bağlamalar</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card mt-5">
                <div class="card">
                    <div class="card-body">


                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>
                                            Sİfariş Kodu
                                        </th>
                                        <th>
                                            Mehsulun Linki
                                        </th>
                                        <th>
                                            Say
                                        </th>
                                        <th>
                                            Ölçü
                                        </th>
                                        <th>
                                            Haqqında
                                        </th>
                                        <th>
                                            Qiyməti
                                        </th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                RUN @item.Id
                                            </td>
                                            <td class="py-1">
                                                <a href="">@item.Link</a>
                                            </td>
                                            <td>
                                                @item.Count

                                            </td>
                                            <td>
                                                @item.Size
                                            </td>
                                            <td>
                                                @item.Count
                                            </td>
                                            <td>
                                                @item.Price

                                            </td>
                                           
                                        </tr>

                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </section>



    <script src="https://kit.fontawesome.com/d9fd6f15f2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>



