@model List<Cargos>
@{
    ViewData["Title"] = "Orders";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">All Cargos</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Müştəri Kodu
                            </th>
                            <th>
                                Sifarişci Adı
                            </th>
                            <th>
                                Məhsulun Linki
                            </th>
                            <th>
                                Məhsulun Sayı
                            </th>
                            <th>
                                Məhsulun Ölçüsü
                            </th>
                            <th>
                                Haqqında Sayı
                            </th>
                            <th>
                                Məhsulun Qiyməti
                            </th>
                            <th>
                                Məhsul Haqqında
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                Run @item.Id
                            </td>
                            <td class="py-1">
                                @item.AppUser.Fullname
                            </td>
                            <td class="py-1">
                                <a href="@item.Link">Your Link</a>
                            </td>
                            <td>
                                @item.Count

                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.Count
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.About
                            </td>
                            <td>
                                @item.Achieve
                            </td>

                        </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


